#============== SaaRclust configuration file ===============#

[SaaRclust]
min.contig.size  =  1e+07 
min.region.to.order  =  1e+06 
pairedEndReads  =  TRUE 
bin.size  =  5e+06 
step.size  =  5e+06 
bin.method  =  'dynamic' 
store.data.obj  =  TRUE 
reuse.data.obj  =  TRUE 
num.clusters  =  100 
desired.num.clusters  =  24 
alpha  =  0.1 
best.prob  =  1 
prob.th  =  0.25 
ord.method  =  'greedy' 
assembly.fasta  =  NULL 
concat.fasta  =  FALSE 
z.limit  =  3.29 
remove.always.WC  =  TRUE 
mask.regions  =  FALSE 
